<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{{title}}</title>
</head>

<body>
    {{> header}}
    <p>This is Home page</p>

    {{> footer}}
</body>

</html>